.grid-item{
   display: inline-flex;
   height: 262px;
   padding: 16px;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
}

.tumb{
   width: 250px;
   height: 140.288px;
}

.info-box{
   display: flex;
   align-items: flex-start;
   gap: 10px;
}

.text-box{
   width: 197px;
}
.title{
   color: #000;
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-wrap: break-word;
}

.grid-item p{
   color: #515151;
   font-family: Roboto;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.iconInfluencer{
   width: 42px;
   height: 42px;
   border-radius: 48px;
}